# Decorators
1. Decorator is used to modify behaviour of a function 
2. Input of decorator can be any function
3. Output of decorator is called as wrapper

### Create a decorator function will welcome the user and thank the user

In [2]:
def welcome(func):
    def wrapper(*args, **kwargs):
        print("Welcome user!")
        res = func(*args, **kwargs)
        print(f"Results : {res}")
        print("Thank You")
        return res
    return wrapper

### Applying decorator on function

In [3]:
@welcome
def simple_intrest(p, n, r):
    i = (p * n * r)/100
    a = p + i
    return i,a

In [4]:
# Input as kwargs
r1 = simple_intrest(p=54000, n=5, r=7.1)

Welcome user!
Results : (19170.0, 73170.0)
Thank You

In [5]:
r1

(19170.0, 73170.0)

In [6]:
r2

NameError: name 'r2' is not defined

In [7]:
# input as args
r2 = simple_intrest(15000,3,6.5)

Welcome user!
Results : (2925.0, 17925.0)
Thank You

In [8]:
r2

(2925.0, 17925.0)

In [9]:
@welcome
def hypotenuse(a,b):
    c = (a**2 + b**2)**(1/2)
    return c

In [10]:
h1 = hypotenuse(3,4)

Welcome user!
Results : 5.0
Thank You

In [11]:
h1

5.0

In [12]:
h2 = hypotenuse(12.5,13.2)

Welcome user!
Results : 18.179383927955314
Thank You

In [13]:
h2

18.179383927955314

### I want to check the time required for code execution

In [14]:
import time

In [16]:
time.sleep(5)
print("Hello!")

Hello!

In [17]:
# Measuring time in nanoseconds
start = time.perf_counter_ns()
print(45**3)
stop = time.perf_counter_ns()
dur = stop - start
print(f"Time required for execution : {dur: .2f} nano seconds")

91125
Time required for execution :  1718600.00 nano seconds

In [18]:
# Measuring time in seconds
start = time.perf_counter()
time.sleep(5)
print("Welcome")
time.sleep(2)
print("Advanced Python")
stop= time.perf_counter()
dur = stop- start
print(f"Time required : {dur: .2f} sec ")

Welcome
Advanced Python
Time required :  7.01 sec

In [28]:
def time_decorator(func):
    def wrapper(*args, **kwargs):
        start = time.perf_counter()
        res = func(*args,**kwargs)
        print(f"Results : {res}")
        stop= time.perf_counter()
        dur= stop- start
        print(f" Duration for code : {dur:.2f} sec")
        return res
    return wrapper

In [29]:
@time_decorator
def even_odd(num):
    time.sleep(3)
    if num%2 == 0:
        return "even"
    
    else:
        return "odd"

In [30]:
even_odd(43)

Results : odd
 Duration for code : 3.00 sec

'odd'

In [39]:
@time_decorator
def square_list(nums : list[int | float])-> list[int | float]:
    s = []
    for i in nums:
        time.sleep(1)
        r= i**2
        print(f"square of number{i} is {r}")
        s.append(r)

                   # Return value of s ouside the for loop
    return s

In [33]:
b=[4,5,11.5,7,12,13]
type(b)

list

In [34]:
len(b)

6

In [40]:
s1= square_list(b)

square of number4 is 16
square of number5 is 25
square of number11.5 is 132.25
square of number7 is 49
square of number12 is 144
square of number13 is 169
Results : [16, 25, 132.25, 49, 144, 169]
 Duration for code : 6.01 sec

In [41]:
s1

[16, 25, 132.25, 49, 144, 169]

In [42]:
a= [1,11,13,18,23,45,81,11.9,17]
type(a)

list

In [43]:
list

list

In [44]:
len(a)

9

In [45]:
s2 = square_list(a)

square of number1 is 1
square of number11 is 121
square of number13 is 169
square of number18 is 324
square of number23 is 529
square of number45 is 2025
square of number81 is 6561
square of number11.9 is 141.61
square of number17 is 289
Results : [1, 121, 169, 324, 529, 2025, 6561, 141.61, 289]
 Duration for code : 9.01 sec

In [46]:
s2

[1, 121, 169, 324, 529, 2025, 6561, 141.61, 289]

### Anonymous function/ Lambda functions
lambda functions are written in a single line of code

In [47]:
# lambda function to get square of a single number
sqr= lambda n: n**2

In [48]:
sqr(12)

144

In [49]:
sqr(11.8)

139.24

In [50]:
# calculate simple intrest using lambda functions
si = lambda p,n,r:(p*n*r)/100

In [51]:
i1= si(p=3000, n=5,r=7.1)
print(i1)

1065.0

In [53]:
i2= si(5200,4,6.5)
print(i2)

1352.0

In [54]:
# find out even odd using lambda function
eo = lambda n:"even" if n%2==0 else"odd"

In [55]:
eo(78)

'even'

In [56]:
eo(63)

'odd'

### calculate cube of numbers from a given list

In [57]:
cube = lambda nums:[i**3 for i in nums]

In [58]:
c=[3,4,11.5,12,13,15]
type(c)

list

In [59]:
3*3*3

27

In [60]:
cube(c)

[27, 64, 1520.875, 1728, 2197, 3375]